{{ 'component-menu.css' | asset_url | stylesheet_tag }}
<!--Menu-->
<menu data-template="{{  template.name }}-{{request.path}}" class="font-nav">
  <!--Type Catalogue-->
<a id="shop" href="/products" class="{% if request.path =='/products' %}current{%  endif %}">Typefaces</a>
  <!--Work-->
  <a id="work" href="/pages/work" class="{% if request.path =='/pages/work' %}current{%  endif %}">Studio Work</a>
  <!--About-->
  <a id="about" href="/pages/about" class="{% if request.path =='/pages/about' %}current{%  endif %}">About</a>
</menu>
<div id="logo">
  {% comment %} <a href="{{ shop.url }}" class="site_title">
    Margot Lévêque
  </a> {% endcomment %}

  <a href="{{ routes.root_url }}" class="site_title" aria-label="Return to {{ shop.name }}">
    {% render 'logo-monogram', class: 'header-logo site_title__logo' %}
  </a>
  <a href="{{ shop.url }}" class="page_name visually-hidden">
    {% if template == "list-collections" or template == "collection" %}
      Type Foundry
    {% elsif template == "page.work" %}
      Stud<span class="ss01">i</span>o
    {% elsif page.handle == 'trial-fonts-pack' %}
      Trial Fonts
    {% else %}
      {{ page.title }}
    {% endif %}
  </a>
  
</div>

<!-- trials / cart-->
<nav>
  <!--Work-->
  <a
    class="pill font-nav"
    id="trials"
    href="/pages/trial-fonts-pack">GET TRIAL FONTS</a>
  <!--Cart Button-->
  <a
    class="pill font-nav {% if cart.item_count >= 1 %} active{% endif %}"
    id="cart"
    href="/cart"
    id="cart-button">CART ({{ cart.item_count }})</a>
</nav>

<button id="burger">
  <span></span>
</button>