{%- assign id = product.id -%}
  <form
  id="product-{{ id }}"
  action="/cart/add"
  method="post"
  enctype="multipart/form-data"
  class=""
  {% unless forloop.first %}style="display: none;"{% endunless %}
  class="
  {%- if product.has_only_default_variant -%}
    product-simple
  {%- elsif variants > 1 -%}
    product-variants{% endif %}">

  <!--Variations Dropdown-->
  <select
    id="product-select-{{ id }}"
    name="id">
    {% for variant in product.variants -%}
      <option
        value="{{ variant.id }}">
        {{- variant.title | upcase -}}
      </option>
    {%- endfor %}
  </select>

  {% for option in product.options -%}
    {% include 'swatch' with option %}
  {%- endfor %}

  <!--Actions-->
  {% if product.available -%}
    <button
      id="buy-button-{{ id }}"
      {% unless product.available %}disabled{% endunless %}
      class="buy-button pill disabled active {% if product.price == 0 %}contact-us{% endif %}"
      type="submit"
      name="add">
      <span
        class="atc_message"
        id="add-to-cart-{{ id }}">Add to cart</span>
        <span
        class="atc_price hide"
        id="product-price-{{ id }}"></span>
    </button>
  {%- else -%}
    <div
      id="add-to-cart-{{ id }}">
      Sold out
    </div>
  {%- endif %}

</form>
<script>

  // prevent add to cart redirect to cart page
  $('form[action^="/cart/add"]').on('submit', function(evt) {
    evt.preventDefault();

// $('#add-to-cart-{{ id }}').html('&nbsp;—&nbsp;Added to Cart');
  });

// show price in ATC button
  $('.option.product-selector').click(function() {
    $('.buy-button .atc_price').removeClass('hide');
  })

// Produt functions
  var selectCallback{{ id }} = function(variant, selector) {

    if (variant) {
      if (variant.available) {
        $('#buy-button-{{ id }}').prop('disabled', false);

// $('#add-to-cart-{{ id }}').html('&nbsp;—&nbsp;Add to cart');
      } else {
        $('#buy-button-{{ id }}').prop('disabled', true);
        $('#add-to-cart-{{ id }}').html('Sold out');
      }

      if (variant.compare_at_price > variant.price) {
        $('#product-price-{{ id }}').html(Shopify.formatMoney(variant.price, '<span class="red">{{ shop.money_format }} </span>') + ' <s>' + Shopify.formatMoney(variant.compare_at_price, '{{ shop.money_format }}') + '</s>');

      } else {
        $('#product-price-{{ id }}').html(Shopify.formatMoney(variant.price, '{{ shop.money_format }}'));

      }
      if (variant.price == 0) {
        $('#buy-button-{{ id }}')
          .prop('disabled', false)
          .addClass('contact-us')
          .removeClass('active')
          .removeAttr("type")
          .attr("type", "button");
        $('#add-to-cart-{{ id }}').text('Contact us!');
        $('#product-price-{{ id }}').empty();

      } else {
        $('#buy-button-{{ id }}')
          .removeClass('contact-us')
          .addClass('active')
          .removeAttr("type")
          .attr("type", "submit");
        $('#add-to-cart-{{ id }}').text('Add to Cart');
      }

    } else {
      $('#product-price-{{ id }}').empty();
      $('#buy-button-{{ id }}').prop('disabled', true);
      $('#add-to-cart-{{ id }}').html('Add to cart');{% if product.price_varies -%}$('#product-price-{{ id }}').html('{{ product.price_min | money }} / {{ product.price_max | money }}');
      {%- else -%}
        $('#product-price-{{ id }}').html('{{ product.price | money }}');{%- endif %}
  }

};

$('form').submit(function(e) {
  if ($('.buy-button').hasClass('contact-us')) {
    e.preventDefault();
    window.location.href = "mailto:{{ shop.email }}";
  }
});
$('.buy-button').click(function(e) {
  if ($('.buy-button').hasClass('contact-us')) {
    e.preventDefault();
    window.location.href = "mailto:{{ shop.email }}";
  }
});



// Replace default variant selector
$(function($) {
  new Shopify.OptionSelectors('product-select-{{ id }}', {
    product:{{ product | json }},
    onVariantSelected: selectCallback{{ id }}
  });
  {%- assign count = -1 -%}
  {% for option in product.options -%}
    {%- if product.options.first != 'Title' -%}
      {% assign count = count | plus: 1 %}$('#product-select-option-{{ count }}').prepend('<option value disabled selected>{{ product.options[count] | upcase }} </option>');{%- endif -%}{%- endfor %}
});
</script>