{%- if template == 'list-collections' -%}
{%- for block in section.blocks -%}
  {%- assign inactive = false -%}
  {%- assign collection = collections[block.settings.collection] -%}
  {%- assign product = all_products[block.settings.active] -%}
  {%- if block.settings.coming_soon == true -%}
    {%- assign inactive = true -%}
    {%- endif -%}
    {%- assign has_italic = false -%}
    {%- assign italic_coming_soon = false  -%}
    {%- if block.settings.has_italic -%}
      {%- assign has_italic = true  -%}
      {%- if block.settings.italic_coming_soon %}
        {%- assign italic_coming_soon = true  -%}
      {%- endif -%}
    {%- endif -%}
  {%- assign name = block.id -%}
  <a class="type-row type-{{ name }} {% if inactive == true %}inactive{% endif %} {% if section.settings.align == 'center' %}center{% endif %}"
     href="{{ collection.url }}"
     {% if block.settings.ornaments != blank %}data-orn="{{ block.settings.ornaments | slice: 0 }}"{% endif %}
     style="font-size: {{ block.settings.font_size | divided_by: 6.0 }}vw">
    <span>
      <div class="type-row_name">
        <div>
          {{- block.settings.collection_name -}}
        </div>
        {%- if has_italic -%}
          &nbsp;
          <div style="font-style:italic" {% if italic_coming_soon -%}class="coming-soon"{%- endif -%}>
            {{- block.settings.italic_text -}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 526.6 137.7">
              <g>
                <path d="M523.09,3.21c-7.57-7.24-20.8-1.44-21.05,9.43-.31,5.62,.02,13.2,.24,20.1-3.59-13.86-20.41-12.9-29.42-3.56-3.06-6.4-13.97-5.81-16.32,.89-.61,1.15-4.69,3.63-7.95,3.83-12.11-11.53-34.91-4.42-42.78,8.81-7.08-11.1-23.66-12.19-34.57-5.84,4.08-14.8-10.28-28.77-24.89-27.16-18.61,2.51-10.66,26.38,4.66,19.47,.47,12-26.09,10.98-24.14,33.07,1.04,9.9,7.84,14.76,12.81,18.31,3.78,2.4,7.98,6.67,3.67,6.76-2.86-2.69-5.25-7.03-12.51-6.51-6.05,.52-10.72,6.11-9.96,12.15,3.01,17.9,31.75,15.56,40.61,3.85,12.47,10.87,34.32,3.61,42.17-9.3,9.67,15.08,34.38,10.95,44.12-2.09,1.84,7.52,8.08,7.09,14.28,6.14,3.99-.42,7.1-3.64,7.38-7.64,.05-11.1,4.82-25.84,10.94-34.21-.24,5.15-2.39,23.77-1.81,28.22,1.08,12.8,15.78,15.8,24.04,7.39,14.13,10.91,29.45-11.24,14.14-20.38,2.25-1.32,3.81-3.68,4.05-6.42,.96-11.19,2.34-20.22,3.56-28.19,.84-9.66,5.27-20.6-1.26-27.13Z" fill="#33ff4b"/>
                <path d="M302.82,88.57c9.93-6.13,15.4-19.04,11.71-29.99,11.86-5.42,8.29-22.32-4.57-21.24-8.38,1.4-10.51,4.77-20.97,5.69-9.84,1.04-17.46,6.17-22.11,12.8-4.58-12.4-20.46-10.72-28.92-1.95-3.07-6.4-13.96-5.79-16.32,.89-.45,.78-2.42,2.21-4.72,3.08-.31-1.19-.89-2.3-1.7-3.25,10.1-7.58,4.17-24.45-8.76-22.91-12.45,.94-16.88,18.09-5.88,24.2-.81,2.27-3.55,3.95-7.45,4.85-6.89-11.1-22.13-5.87-29.31,3.28-5.95-10.14-19.71-7.06-26.95,.52-3.06-6.43-13.97-5.84-16.32,.86-.61,1.16-4.7,3.64-7.96,3.84-10.13-9.62-28.67-6.46-38.21,3.53,0,0-2.34-19.63-2.34-19.63-.72-8.1-12.49-9.73-16.6-3.42C11.84,42.19-18.64,97.49,13.14,128.76c15.42,14.15,41.81,10.81,55.08-5.15,9.84,14.23,34.21,9.84,43.55-2.87,1.89,7.56,8.02,7.08,14.29,6.14,3.99-.42,7.11-3.65,7.38-7.65,.12-10.78,4.28-24.29,10.03-32.86l-2.37,29.09c-.51,4.99,4.08,9.53,9.09,8.88,5.95-.39,11.9-.95,12.69-8.21,.12-10.76,4.28-24.28,10.03-32.85-.24,5.07-2.28,22.62-1.71,26.98,1.4,13.65,16.79,15.62,24.88,6.58,5.71,5.43,14.41,4.01,20.13-1.51,2.79,2.38,7.65,1.21,10.95,.92,3.99-.42,7.11-3.65,7.38-7.65,.05-11.11,4.83-25.83,10.94-34.2,.13,12.25-8.67,38.92,10.26,40.43-.52,34.39,67.75,23.79,62.98-8.77-.95-9.08-6.28-14.94-15.89-17.49Z" fill="#33ff4b"/>
              </g>
              <g>
                <path d="M503.32,68.74c-4.14,7.27-11.49,12.12-10.66,2.89,.23-4.81,3.05-31.53,2.44-35.57-.39-4.01-3.08-6.21-7.13-5.62-11.01,1.43-20.3,19.63-23.96,31.63l-.4,.04,.07-.77,2.44-28.42-1.3,.14c-1.66,4.43-8.64,8.36-14.35,8.96,0,0,.14,1.34,.14,1.34l8.82-.93,.59-.06-3.54,41.49c.29-.03,5.23-.55,5.31-.56-.43-15.08,11.02-45.02,23.57-47.83,4.77-.83,4.79,4.66,4.34,8.81-.22,4.4-2.74,29.02-2.33,32.75,2.72,11.39,13.47,.69,17.33-7.62l-1.12-1.04c-.08,.13-.16,.26-.24,.38Z" fill="#a0a0a0"/>
                <path d="M95.05,71.72c-25.87,1.02-35.77,54.13-5.23,52.41,26.02-1.03,35.67-54.13,5.23-52.41Zm-.52,1.8c20.47-1.73,15.1,48.34-4.19,48.81-20.47,1.67-15.11-48.27,4.19-48.81Z" fill="#a0a0a0"/>
                <path d="M67.52,108.07c-13.67,25.7-48.75,23.02-51.66-8.29-1.96-18.66,8.36-37.83,28.38-40.13,10.72-1.27,17.97,3.13,21.11,15.77l1.59-.26-2.52-21.11-1.6,.17c-.09,3.09-1.18,3.8-3.28,3.91C.36,47.98-8.22,131.41,40.98,129.25c13.71-1.25,22.55-10.22,27.8-20.24l-.96-1.44c-.1,.17-.2,.33-.3,.5Z" fill="#a0a0a0"/>
                <path d="M510.76,71.66c-3.55,.25-5.26,4.69-2.58,7.01-.05,.08-.1,.15-.15,.23,.83,.77,1.87,1.09,3,.95v-.06s0,0,0,0v.06c5.91-.08,5.76-8.71-.26-8.2Z" fill="#a0a0a0"/>
                <path d="M348.16,48.21c10.73-4.9,16.79-9.89,15.95-17.84-.95-9-10.39-13.13-16.3-12.51-3.85,.04-4.92,4.19-1.08,4.18,5.82-2.92,11.97-1.77,13.17,6.74,.74,7.08-4.2,13.02-12.73,17.69-8.24,4.45-12.16,8.53-11.5,14.85,1.28,12.15,17.02,12.63,18.2,23.82,.61,5.62-3.1,9.86-8.88,10.31-7.87,.67-8.43-6.93-12.69-6.49-1.5,.19-2.8,1.25-2.61,3.08,.31,2.93,4.52,6.29,12.81,5.51,10.53-.91,16.82-7.47,15.95-15.11-1.25-11.86-18-14.17-19.02-23.93-.47-4.5,2.65-7.53,8.74-10.3Z" fill="#a0a0a0"/>
                <path d="M216.79,98.85c-4.1,7.25-11.51,12.1-10.66,2.89,0,0,3.4-41.86,3.4-41.86l-1.2,.12c-1.66,4.44-8.74,8.37-14.25,8.95,0,0,.15,1.34,.15,1.34l8.73-.92,.59-.06c-.21,4.46-3.12,34.16-2.71,37.82,2.77,11.38,13.53,.7,17.33-7.62l-1.12-1.04c-.08,.13-.16,.26-.24,.38Z" fill="#a0a0a0"/>
                <path d="M311.42,45.49c-4.75,.61-8.56,4.38-20.97,5.69-20.07,1.42-28.47,30.2-8.17,34.04-6.7,1.86-10.54,4.78-10.16,8.33,1.1,7.72,14.12,5.95,20.13,6.5,9.45,.36,13.81,4.25,14.39,9.71,3.07,16.04-34.97,23.49-36.3,6.33-.64-6.12,1.87-10.16,7.73-13.2l-.82-1.08c-6.8,2.37-13.38,7.69-12.62,14.87,3.34,20.61,50.24,10.25,46.47-9.82-.7-11.11-14.09-11.7-26.36-11.84-4.88-.17-7.46-1.64-7.7-3.93-.33-3.33,6.92-5.34,10.83-5.78,22.1-1.91,26.67-28.1,9.94-33.55,.02-.01,.27-.22,.28-.22,4.63-.48,7.83,.49,10.76,.22,5.56-.23,7.42-6.18,2.58-6.27Zm-21.31,7.27c7.61-.8,10.83,4.76,11.62,12.33,.82,7.31-1.59,17.58-14.15,18.7-15.6,1.23-14.3-30.4,2.53-31.02Z" fill="#a0a0a0"/>
                <path d="M268.66,93.04c-3.26,5.54-9.53,12.11-10.93,5.89-.34-1.42,2.35-29.16,2.39-31.21,.53-6.65,.7-13.1-6.79-12.64-11.22,1.27-20.5,19.57-24.22,31.67l-.4,.04,.07-.79,2.44-28.4c-.32,.03-.98,.11-1.3,.14-1.66,4.43-8.64,8.36-14.35,8.95l.14,1.34,9.41-.99-3.54,41.48c.29-.03,5.23-.55,5.31-.56-.43-15.08,11.02-45.02,23.57-47.83,4.77-.82,4.78,4.67,4.33,8.81-.22,4.4-2.74,29.01-2.33,32.75,2.72,11.39,13.47,.69,17.33-7.62l-1.12-1.04Z" fill="#a0a0a0"/>
                <path d="M431.06,36.4c-25.87,1.02-35.78,54.12-5.23,52.4,26.02-1.02,35.66-54.13,5.23-52.4Zm-.52,1.8c20.47-1.73,15.1,48.34-4.19,48.81-20.47,1.67-15.11-48.27,4.19-48.81Z" fill="#a0a0a0"/>
                <path d="M195.96,101.04c-3.42,5.65-9.35,11.5-10.68,5.5-.34-1.49,2.35-29.09,2.39-31.21,.5-6.49,.74-13.35-6.56-12.65-10.61,1.4-19.99,19.6-23.66,31.6l-.5,.05c.24-4.47,1.88-19.11,1.34-22.87-.39-4.02-2.77-6.25-6.64-5.68-10.61,1.4-19.99,19.6-23.65,31.6l-.4,.04,.07-.79,2.43-28.4-1.3,.14c-1.66,4.44-8.64,8.36-14.35,8.96,0,0,.14,1.34,.14,1.34l8.83-.93,.59-.06-3.54,41.49c.29-.03,5.23-.55,5.31-.56-.72-14.49,11.54-45.86,23.63-47.86,4.14-.33,3.77,5.14,3.47,8.92,0,0-2.96,36.39-2.96,36.39,.29-.03,5.23-.55,5.31-.56-.39-15.25,10.98-44.65,23.26-47.8,4.43-.79,4.19,4.97,3.84,8.86-.22,4.4-2.74,29.02-2.33,32.75,2.72,11.39,13.47,.68,17.32-7.63l-1.12-1.04c-.08,.13-.16,.25-.24,.38Z" fill="#a0a0a0"/>
                <path d="M384.83,41.26c-25.87,1.03-35.78,54.12-5.23,52.4,26.02-1.02,35.67-54.13,5.23-52.4Zm-.52,1.79c20.46-1.73,15.1,48.34-4.19,48.81-20.47,1.67-15.11-48.28,4.19-48.81Z" fill="#a0a0a0"/>
                <path d="M511.25,57.96c.4-.04,1.52-.16,1.9-.2,1.82-21.19,5.19-35.38,5.74-45.59,.21-2.83-1.55-4.19-3.86-3.95-2.3,.3-3.94,1.95-4.16,4.79-.55,10.22,.99,23.89,.37,44.94Z" fill="#a0a0a0"/>
                <path d="M207.59,49.12c6.29,.02,7.03-9.84,.34-9.29-5.89,.37-6.65,9.45-.34,9.29Z" fill="#a0a0a0"/>
              </g>
            </svg>
          </div>
        {% endif %}
      </div>
      <div class="type-row_details">
        {%- if inactive == true -%}
          <span>COMING SOON</span>
        {%- else -%}
          <span>{{- collection.title | upcase -}}</span>
          <span>1 family</span>
          <span>{% if collection.products.count == 1 %}{{ collection.all_products_count }} style{% else %}{{ collection.all_products_count | minus: 1 }} styles{% endif %}</span>
        {%- endif -%}
      </div>
    </span>
  </a>
  <style>
    .type-{{ name }} {
        font-family: '{{ name }}';
    }
    .type-{{ name }} .type-row_name {
        letter-spacing: {{ block.settings.letter_spacing | default: '-0.05em' }};
    }
    @font-face{
        font-family: '{{ name }}';
        src: url('{{ product.description | strip_html }}') format('woff2');  
        font-style: normal;
        font-display: block;
    }
    {%- if has_italic -%}
      @font-face{
        font-family: '{{ name }}';
        src: url('{{ block.settings.active_italic | strip_html }}') format('woff2');
        font-style: italic;
        font-display: block;
      }
    {% endif %}
  </style>
{%- endfor %}
{%- else -%}

  {%- assign ID = collection.id -%}
  {%- assign inactive = false -%}
  {%- assign specimen = false -%}

  {%- for block in section.blocks -%}
    {%- assign block_collection = collections[block.settings.collection] -%}
    {%- assign product_collection = all_products[block.settings.active] -%}
    {% if block_collection.id == ID %}
	  {%- assign title = block.settings.title -%}
      {%- assign name = block.id -%}
      {%- assign type = product_collection.description -%} 
	  {%- assign product_ = product_collection -%} 
	  {%- assign opacity = block.settings.layer_opacity -%}
	  {%- assign description = block.settings.description -%}	 
    {%- assign license = block.settings.license -%}	  
	  {%- if block.settings.specimen != blank -%}
	    {%- assign specimen = true -%}
	    {%- assign specimen_link = block.settings.specimen -%}
	  {%- endif -%}
	  {%- if block.settings.coming_soon == true -%}
		{%- assign inactive = true -%}
  	  {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  <!--Content-->
  <div id="product-content">
    
    <!--Type Row-->
    <div id="type-row"
         class="type-{{ name }}"> 
      <span id="editable"
            class="pure {% if inactive == true %}inactive{% endif %}"
            {% if inactive != true %}
            contenteditable="true"
            autocorrect="off"
            spellcheck="false"
            placeholder="{{ title }}"{% endif %}>
        {{ title }}
      </span>
      <style>
        .type-{{ name }}{
            font-family: '{{ name }}';
        }
        @font-face{
            font-family: '{{ name }}'; src: url('{{ type | strip_html }}') format('woff2');  
            font-display: block;
        }
      </style>
    </div>
    
    {%- for product in collection.products -%}
      {%- assign total = collection.all_products_count -%}
      {%- for tag in product.tags -%}
        {%- if tag contains 'exclude' -%} 
          {%- assign total = total | minus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
    
    <!--Actions-->
    <div id="type-actions">      
      
      <!--Title-->
      <div class="title">{{ collection.title }}</div>    
      
      <!--Styles-->
      <div class="styles select-wrapper">        
        <select id="styles">
          
          <option selected value disabled>
            {% if total == 1 %}{{ total }}{% else %}{{ total | minus: 1 }}{% endif %} Style{% if total > 1 -%}s{% endif %}
          </option>
          
          {% for product in collection.products -%}
          	{%- assign exclude = false -%}          
          	{%- for tag in product.tags -%}
     		      {%- if tag contains 'exclude' -%}  
          	    {%- assign exclude = true -%}
          	  {%- endif -%}
            {%- endfor -%}
            {%- if product.description != blank and exclude == false -%}
            <option
              value="{{ product.title | handle | escape }}"
              data-title="{{ product.title }}"
            >
              {% if product.title contains collection.title and product.title != collection.title %}
                {{- product.title | replace: collection.title, '' -}}
              {% else %}
                {{- product.title -}}
              {% endif %}
            </option>
            {%- endif -%}
          {%- endfor %}
        </select>
      </div>
      <div id="hidden-select-option">{{ collection.all_products_count }} Style{% if collection.all_products_count > 1 -%}s{% endif %}</div>
      
      {% if inactive != true -%}
      <!--Handler-->
      <wrap>
        <span>Size</span>
        <input class="type-handler" type="range" min="30" max="280" value="125" step="1" />
      </wrap>
      {%- endif %}
      
      <!--Information-->
      <span class="select-wrapper">
        <span>Information</span>
      </span>
      
      <!--Colors-->
      <div>
        <svg id="gray" class="color active">
          <circle cx="50%" cy="50%" r="50%"></circle>
		</svg>
        <svg id="black" class="color">
          <circle cx="50%" cy="50%" r="50%"></circle>
		</svg>
        <svg id="white" class="color">
          <circle cx="50%" cy="50%" r="50%"></circle>
		</svg>
      </div>
      
    </div>
    
    {% if collection.description contains "<img" %}
      {% assign content_src = collection.description | split: ' src="' %}
      {% assign alt = collection.description | split: 'alt="' %}
      {% assign content_size = content_src.size | minus: 1 %}
    {% endif %}
    <!--Product Gallery-->
    <div id="gallery" {% if content_size > 1 %}class="slider"{% endif -%}>
      {% if content_size > 0 -%}
      <div>
        <div class="slider-tracker focus">
        {% for i in (1..content_size) %}
        {% assign src = content_src[i] | split: '"' | first %}
        {% assign alt_first = alt[i] | split: '"' | first %}
        {% assign image_src_thumb = src | replace: '_50x50', '_160x160' | replace: '_100x100', '_160x160' | replace: '_240x240', '_160x160' | replace: '_480x480', '_160x160' | replace: '_600x600', '_160x160' | replace: '_1024x1024', '_160x160' | replace: '_2048x2048', '_160x160' %}
        {% assign image_src_master = src | replace: '_50x50', '' | replace: '_100x100', '' | replace: '_240x240', '' | replace: '_480x480', '' | replace: '_600x600', '' | replace: '_1024x1024', '' | replace: '_2048x2048', '' %}
        <div class="slide" data-slide="{{ i }}" style="grid-row: {{ i }}">
          <img class="lazy" src="{{ image_src_thumb }}" data-src="{{ image_src_master }}"  alt="{{ collection.title }} {{ i }}" />   
        {% if alt_first != blank %}
          {% if alt_first contains '||' %}
            {% assign link = alt_first | split: '||' %}
            <a href="{{ link[1] }}"
               class="caption"
               target="_blank"
               rel="noreferrer"
               style="background-color: rgba(255,255,255, .{{ opacity }})">
              <i><u>{{ link[0] }}</u></i>
            </a>
          {% else %}
            <div class="caption" style="background-color: rgba(255,255,255, .{{ opacity }})">
              <i>{{ alt_first  }}</i>
            </div>
          {% endif %}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        {% if content_size > 1 -%}
        <!--Arrow W-->
        <span class="prev"></span>
        <!--Arrow E-->
        <span class="next"></span>
        {%- endif %}
      </div>
      {%- else -%}
      <!--Image-->
      <img class="lazy slide" src="{{ collection.image | img_url: 'thumb' }}" data-src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" />
      {%- endif %}
    </div>
    <!--Product infos-->
    <div id="infos">
      <!--Description-->
      <wrap>
        {% if content_size > 1 -%}
        <wrap class="counter"><span>1</span>/{{ content_size }}</wrap>
        {%- endif %}
        <p class="desc">{{ description | replace: '<em', '|em' | replace: '</em>', '|/em|' | replace: '<a', '|a' | replace: '</a>', '|/a|' | replace: '</p>', '|br' | strip_html | replace: '|br', '<br>' | replace: '|a', '<a' | replace: '|/a|', '</a>' | replace: '|em', '<em' | replace: '|/em|', '</em>' }}</p>
        <!-- <div class="spacer">*</div> -->
        <p class="license">
          {{ license | replace: '<em', '|em' | replace: '</em>', '|/em|' | replace: '<a', '|a' | replace: '</a>', '|/a|' | replace: '</p>', '|br' | strip_html | replace: '|br', '<br>' | replace: '|a', '<a' | replace: '|/a|', '</a>' | replace: '|em', '<em' | replace: '|/em|', '</em>' }}
          {% if settings.eula.size > 0 -%}
          <a class="" href="{{ settings.eula }}" target="_blank" rel="noreferrer">
            → <u>Read more about licensing</u>
          </a>
          {%- endif %}
        </p>
      </wrap>
      <!--Products-->
      <div id="products">        
        <!--Actions-->
        <div id="actions">   
        </div>  
        <!--Styles-->
        {% unless inactive == true %}
        <div id="product-options">
          <!--Variant Title-->
          <div class="title">SELECT STYLE OR PACK</div>
          <!--Variants-->
          <wrap>
            <div class="left">
            {% for product in collection.products -%}
              {% if product.tags contains "pack" or forloop.length == 1 %}
              <div class="style product-selector left" data-pack="{{- product.title -}}" data-value="{{ product.title | handle | downcase | escape }}" data-id="{{ product.id }}">
                {{- product.title -}}
              </div>
              {% endif %}
            {% endfor %}
            </div>
            <div class="right">
              {% for product in collection.products -%}
                {% unless product.tags contains "pack" or forloop.length <= 1 %}
                <div class="style product-selector right" data-pack="{%- for item in product.metafields.custom.pack.value -%}{{ item.title }} {% endfor %}" data-value="{{ product.title | handle | downcase | escape }}" data-id="{{ product.id }}">
                  {{- product.title -}}
                  {% if product.tags contains "new" %}
                    {% render 'new-icon' %}
                  {% endif %}
                </div>
                {% endunless %}
              {% endfor %}
              </div>
          </wrap>
          {% for product in collection.products -%}  
            {% include 'purchase-content'%}        
          {%- endfor %}
        </div>
        {% endunless %}
         
      </div>
    </div>    
    
  </div>

{%- endif %}

<script>

  $('.product-selector.left').click(function(evt) {
    // console.log($(this).attr('data-pack'))
    var target = $(this).attr('data-pack');
    // console.log(target)
    Array.from(document.querySelectorAll('.product-selector.right')).forEach(item => {
      if (item.getAttribute('data-pack').includes(target)) {
        // console.log(item)
        $(item).addClass('bonus')
      } else {
        $(item).removeClass('bonus')
      }
    })
  })
  $('.product-selector.right').click(function(evt) {
    $('.product-selector').removeClass('bonus')
  })
</script>

{% schema %}
{
  "name": "Type Catalogue",
  "class": "type-catalogue",
  "settings": [
    {
        "type": "select",
        "id": "align",
        "label": "Text Align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "type",
      "name": "Type",
      "settings": [	
    {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
          "type":      "text",
          "id":        "collection_name",
          "label":     "Title"
        },
        
        {
          "type":      "text",
          "id":        "ornaments",
          "label":     "Bodoni Ornaments",
          "info": 	 "Use only one letter"
        },
        {
            "type": "product",
            "id": "active",
            "label": "Active Type"
        },
        {
          "type":"text",
          "id": "letter_spacing",
          "label": "Default letter spacing",
          "info": "Default: `-0.05em`. The CSS value to apply to `letter-spacing`. Prefer `em` over `px`. Negative values are allowed."
        },
        {
          "type": "checkbox",
          "id": "has_italic",
          "label": "Has italic?",
          "info": "Whether to display the italic font in the title."
        },
        {
          "type": "checkbox",
          "id": "italic_coming_soon",
          "label": "Italic is coming soon?",
          "info": "Whether to display the italic font as \"coming soon\"?"
        },
        {
          "type": "text",
          "id": "italic_text",
          "label": "Italic Text",
          "info": "The italic text to append to the title."
        },
        {
            "type": "textarea",
            "id": "active_italic",
            "label": "Italic Type",
            "info": "Base64 string of a woff2 font file"
        },
        
        
        {
          "type":      "text",
          "id":        "title",
          "label":     "Title"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 15,
          "max": 100,
          "step": 1,
          "unit": "vw",
          "label": "Collection Font size",
          "default": 50
        },
        {
          "type":      "richtext",
          "id":        "description",
          "label":     "Description"
        },
        {
          "type":      "richtext",
          "id":        "license",
          "label":     "Licensing"
        },
        {
          "type":      "url",
          "id":        "specimen",
          "label":     "Specimen",
          "info":		 "Upload a .pdf to Settings > Files and paste here the generated url"
        },
        {
          "type": "range",
          "id": "layer_opacity",
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": "%",
          "label": "Opacity layer over images",
          "default": 50
        },
        
        {
          "type": "checkbox",
          "id": "coming_soon",
          "label": "Coming Soon",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}