<!-- RECEIPT / INVOICE -->

<!-- Document Settings -->
{% assign SETTING_shop_logo = shop_logo_url %}
<!-- Logo uploaded from "Templates" page > "Customize Branding" -->
{% assign SETTING_shop_logo_width = shop_logo_width %}
<!-- Logo width from "Templates" page > "Customize Branding" -->
{% assign SETTING_shop_accent_color = shop_accent_color %}
<!-- Accent color from "Templates" page > "Customize Branding" -->
{% assign SETTING_date_format = '%B %e, %Y' %}
<!-- Adjusts date format used, see: https://shopify.github.io/liquid/filters/date/ -->
{% assign SETTING_show_product_images = true %}
<!-- Display product images? (true/false) -->
{% assign SETTING_product_image_size = 58 %}
<!-- Adjusts size of product images -->
{% assign SETTING_show_cart_attributes = false %}
<!--
  Display custom information collected during checkout? (true/false) - Example: Pickup/Delivery date & time. See: http://help.forsbergplustwo.com/en/articles/3825760
-->
{% assign SETTING_show_order_number_barcode = true %}
<!-- Display a barcode of the order number? (true/false) -->
{% assign SETTING_show_product_barcodes = false %}
<!-- Display a barcode of the product variant? (true/false) -->

<!-- Shop info -->
{% assign shop_name_text = '' %}
<!-- Overwrite the default shop name shown. Leave blank to use default from Shopify -->
{% assign shop_address_text = 'Rue du Grand-Pont 1 <br> 1350 Orbe, Switzerland <br> system@margotleveque.com <br> margotleveque.com' %}
<!-- Overwrite the default shop address shown. Leave blank to use default from Shopify -->
{% assign shop_tax_number_text = '' %}
<!-- Display your shop tax or VAT number. Example "VAT No. DK12345" -->

<!--
  TRANSLATE TEXT / CHANGE WORDING
  You can translate or change wording in the document by updating
  the words below. Only change the words between the quotes "".
  See: http://help.forsbergplustwo.com/en/articles/5137649
-->

{% assign TEXT_receipt_tax_invoice = 'Receipt / Invoice' %}
{% assign TEXT_shipping_address = 'Shipping address' %}
{% assign TEXT_customer = 'Customer' %}
{% assign TEXT_tel = 'Tel.' %}
{% assign TEXT_no_customer_information = 'No customer information' %}
{% assign TEXT_payment_method = 'Payment method' %}
{% assign TEXT_payment_due_on = 'Due on' %}
{% assign TEXT_payment_overdue = 'Overdue' %}
{% assign TEXT_shipping_method = 'Shipping method' %}
{% assign TEXT_pickup_date_and_time = 'Pickup on' %}
{% assign TEXT_pickup_location = 'Pickup location' %}
{% assign TEXT_delivery_date_and_time = 'Delivery on' %}
{% assign TEXT_items = 'Items' %}
{% assign TEXT_price = 'Price' %}
{% assign TEXT_qty = 'Qty' %}
{% assign TEXT_item_total = 'Item total' %}
{% assign TEXT_sku = 'SKU: ' %}
{% assign TEXT_refunded = 'x Refunded' %}
{% assign TEXT_notes = 'Notes' %}
{% assign TEXT_discount = 'Discount' %}
{% assign TEXT_subtotal = 'Subtotal' %}
{% assign TEXT_shipping = 'Shipping' %}
{% assign TEXT_duties = 'Import duties' %}
{% assign TEXT_vat = 'VAT %' %}
{% assign TEXT_total = 'Total' %}
{% assign TEXT_total_refund = 'Total refund' %}
{% assign TEXT_total_paid = 'Total paid' %}
{% assign TEXT_total_due = 'Total due' %}
{% assign TEXT_thanks = 'Thank you for shopping with us!' %}

<!-- BEGIN: Barcode snippet -->
{% if SETTING_show_product_barcodes == true or SETTING_show_order_number_barcode == true %}
  {% include 'barcodes' %}
{% endif %}
<!-- END: Barcode snippet -->

{% comment %} <div class="template">
  <div class="header">
    <div class="shop-title to-uppercase">
      {% if SETTING_shop_logo != blank %}
        {{ SETTING_shop_logo | img_tag: '', 'shop-logo' }}
      {% else %}
        {{ shop.name }}
      {% endif %}
    </div>
    <div class="order-title text-align-right">
      <p>
        {% if SETTING_show_order_number_barcode == true %}
          <img class="barcode" data-barcode="{{ name }}"><br>
        {% endif %}
        {{ TEXT_receipt_tax_invoice }}
        {{ name }}
      </p>
      <p>
        {{ created_at | date: SETTING_date_format }}
      </p>
    </div>
  </div>
  <div class="customer-addresses">
    {% if shipping_address != blank %}
      <div class="shipping-address">
        <p class="subtitle-bold to-uppercase">
          {{ TEXT_shipping_address }}
        </p>
        <p class="address-detail">
          {{ shipping_address.name }}
          {% if shipping_address.company != blank %}
            <br>
            {{ shipping_address.company }}
          {% endif %}
          <br>
          {{ shipping_address.address1 }}
          {% if shipping_address.address2 != blank %}
            <br>
            {{ shipping_address.address2 }}
          {% endif %}
          {% if shipping_address.city_province_zip != blank %}
            <br>
            {{ shipping_address.city_province_zip }}
          {% endif %}
          <br>
          {{ shipping_address.country }}
          {% if shipping_address.phone != blank %}
            <br>
            {{ TEXT_tel }}
            {{ shipping_address.phone }}
          {% endif %}
        </p>
      </div>
    {% endif %}
    <div class="billing-address">
      <p class="subtitle-bold to-uppercase">
        {{ TEXT_customer }}
      </p>
      <p class="address-detail">
        {% assign billing_address = billing_address | default: customer.default_address %}
        {% if billing_address != blank %}
          {{ billing_address.name }}
          {% if billing_address.company != blank %}
            <br>
            {{ billing_address.company }}
          {% endif %}
          <br>
          {{ billing_address.address1 }}
          {% if billing_address.address2 != blank %}
            <br>
            {{ billing_address.address2 }}
          {% endif %}
          {% if billing_address.city_province_zip != blank %}
            <br>
            {{ billing_address.city_province_zip }}
          {% endif %}
          <br>
          {{ billing_address.country }}
          {% if billing_address.phone != blank %}
            <br>
            {{ TEXT_tel }}
            {{ billing_address.phone }}
          {% endif %}
        {% elsif customer != blank %}
          {{ customer.name }}
          {% if customer.email != blank %}
            <br>
            {{ customer.email }}
          {% endif %}
          {% if customer.phone != blank %}
            <br>
            {{ TEXT_tel }}
            {{ customer.phone }}
          {% endif %}
        {% else %}
          {{ TEXT_no_customer_information }}
        {% endif %}
      </p>
    </div>
    <div class="order-details">
      {% if payment_method != blank or payment_terms != blank %}
        <p class="subtitle-bold to-uppercase">
          {{ TEXT_payment_method }}
        </p>
        <p class="order-detail">
          {{ payment_method }}
          {% if payment_terms != blank %}
            <br>
            {{ TEXT_payment_due_on }}
            {{ payment_terms.current_payment_schedule.due_at | date: SETTING_date_format }} (
            {{- payment_terms.payment_terms_name -}}
            )
            {% if payment_terms.overdue %}
              <br>
              <span class="label-warning">{{ TEXT_payment_overdue }}</span>
            {% endif %}
          {% endif %}
        </p>
      {% endif %}
      {% if shipping_method != blank or fulfillment.tracking_company != blank %}
        <p class="subtitle-bold to-uppercase">
          {{ TEXT_shipping_method }}
        </p>
        <p class="order-detail">
          {% if fulfillment.tracking_company == blank or fulfillment.tracking_company == 'Other' %}
            {{ shipping_method.title }}
            <br>
            {{ fulfillment.tracking_number }}
          {% else %}
            {{ fulfillment.tracking_company }}
            {{ shipping_method.title }}
            <br>
            {{ fulfillment.tracking_number }}
          {% endif %}
        </p>
      {% endif %}
      {% if attributes['Pickup-Date'] != blank or attributes['Delivery-Date'] != blank %}
        {% include 'pickup_and_delivery' %}
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="order-table">
    <div class="order-table-row order-table-header">
      <div class="order-table-cell item-image-and-description subtitle-bold to-uppercase">
        {{ TEXT_items }}
      </div>
      <div class="order-table-cell item-price text-align-right subtitle-bold to-uppercase">
        {{ TEXT_price }}
      </div>
      <div class="order-table-cell item-quantity text-align-right subtitle-bold to-uppercase">
        {{ TEXT_qty }}
      </div>
      <div class="order-table-cell item-line-price text-align-right subtitle-bold to-uppercase">
        {{ TEXT_item_total }}
      </div>
    </div>

    {% comment %}
      These variables make sure your images print at high quality.
    {% endcomment %}
    {% assign resolution_adjusted_size = SETTING_product_image_size | times: 200 | divided_by: 72 | ceil %}
    {% capture effective_image_dimensions %}{{ resolution_adjusted_size }}x{{ resolution_adjusted_size }}{% endcapture %}

    <table>
      <tbody>
        {% for line_item in line_items %}
          {% if line_item.quantity < 1 %}{% continue %}{% endif %}
          <tr>
            <td>
              <div class="order-table-row order-table-body">
                {% if SETTING_show_product_images == true %}
                  <div class="order-table-cell item-image">
                    <div
                      class="aspect-ratio aspect-ratio-square"
                      style="width: {{ SETTING_product_image_size }}px; height: {{ SETTING_product_image_size }}px;"
                    >
                      {% if line_item.image != blank %}
                        {{
                          line_item.image
                          | img_url: effective_image_dimensions
                          | img_tag: '', 'aspect-ratio__content'
                        }}
                      {% else %}
                        {{ '/product_image_placeholder.svg' | img_tag: '', 'aspect-ratio__content placeholder' }}
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
                <div class="order-table-cell item-description">
                  <p>
                    <span class="item-description-line">
                      {{ line_item.product_title }}
                    </span>
                    {% if line_item.variant_title != blank %}
                      <span class="item-description-line">
                        {{ line_item.variant_title }}
                      </span>
                    {% endif %}
                    {% if line_item.sku != blank %}
                      <span class="item-description-line">
                        {{ TEXT_sku -}}
                        {{- line_item.sku }}
                      </span>
                    {% endif %}
                    {% for p in line_item.properties %}
                      {% assign p_internal = p.first | slice: 0 %}
                      {% unless p.first contains 'builder_id'
                        or p.first contains 'builder_info'
                        or p.first contains 'master_builder'
                        or p_internal == '_'
                        or p.last == ''
                        or p.last == blank
                      %}
                        {% if p.last contains '/uploads/' or p.last contains 'cdn.shopify.com' %}
                          <span class="item-description-line"
                            ><a href="{{ p.last }}" target="_blank">{{ p.first }}</a></span
                          >
                        {% else %}
                          <span class="item-description-line">{{ p.first }}: {{ p.last }}</span>
                        {% endif %}
                      {% endunless %}
                    {% endfor %}

                    {% if line_item.refunded_quantity > 0 %}
                      <span class="item-description-line">
                        <span class="label-warning">
                          {{- line_item.refunded_quantity -}}
                          {{- TEXT_refunded -}}
                        </span>
                      </span>
                    {% endif %}
                    {% if SETTING_show_product_barcodes == true and line_item.variant.barcode != blank %}
                      <img class="barcode" data-barcode="{{ line_item.variant.barcode }}">
                    {% endif %}
                  </p>
                </div>
                <div class="order-table-cell item-price text-align-right">
                  {% if line_item.original_price > line_item.price -%}
                    <s>{{ line_item.original_price | money }}</s><br>
                  {% endif %}
                  {{ line_item.price | money }}
                </div>
                <div class="order-table-cell item-quantity text-align-right">
                  {{ line_item.quantity }}
                </div>
                <div class="order-table-cell item-line-price text-align-right">
                  {{ line_item.line_price | money }}
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>

  <div class="notes-and-pricing">
    <div class="notes">
      {% if note != blank %}
        <div class="notes-row">
          <div class="notes-title subtitle-bold to-uppercase">
            {{ TEXT_notes }}
          </div>
          <div class="notes-details">
            {{ note }}
          </div>
        </div>
      {% endif %}
      {% if SETTING_show_cart_attributes == true %}
        {% for attribute in attributes %}
          <div class="notes-row">
            <div class="notes-title subtitle-bold to-uppercase">{{ attribute.first }}:</div>
            <div class="notes-details">
              {{ attribute.last }}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="pricing">
      {% if total_discounts != 0.0 %}
        <div class="pricing-row text-align-right">
          <div class="pricing-title">
            {{ TEXT_discount -}}
            <br>
            {% for discount in discounts -%}
              {{- discount.title }}
            {% endfor %}
          </div>
          <div class="pricing-details">-{{ total_discounts | money }}</div>
        </div>
      {% endif %}
      <div class="pricing-row text-align-right">
        <div class="pricing-title">
          {{ TEXT_subtotal }}
        </div>
        <div class="pricing-details">
          {{ subtotal_price | money }}
        </div>
      </div>
      <div class="pricing-row text-align-right">
        <div class="pricing-title">
          {{ TEXT_shipping }}
        </div>
        <div class="pricing-details">
          {{ shipping_price | default: 0.0 | money }}
        </div>
      </div>
      {% if duties_price != 0.0 %}
        <div class="pricing-row text-align-right">
          <div class="pricing-title">
            {{ TEXT_duties }}
          </div>
          <div class="pricing-details">
            {{ duties_price | money }}
          </div>
        </div>
      {% endif %}
      {% for tax in tax_lines %}
        <div class="pricing-row text-align-right">
          <div class="pricing-title">
            {{ tax.title | replace: 'VAT', TEXT_vat | replace: 'Tax', TEXT_vat }}
            {{ tax.rate | times: 100 }}%
          </div>
          <div class="pricing-details">
            {{ tax.price | money }}
          </div>
        </div>
      {% endfor %}
      <div class="pricing-row text-align-right">
        <div class="pricing-title subtitle-bold to-uppercase">{{ TEXT_total }} ({{ currency }})</div>
        <div class="pricing-details subtitle-bold to-uppercase">
          {{ total_price | money }}
        </div>
      </div>
      {% if total_refunds != 0.0 %}
        <div class="pricing-row text-align-right">
          <div class="pricing-title">
            {{ TEXT_total_refund }}
          </div>
          <div class="pricing-details">-{{ total_refunds | money }}</div>
        </div>
      {% endif %}
      {% if total_paid != 0.0 %}
        <div class="pricing-row text-align-right">
          <div class="pricing-title">
            {{ TEXT_total_paid }}
          </div>
          <div class="pricing-details">
            {{ total_paid | money }}
          </div>
        </div>
      {% endif %}
      {% if total_due != 0.0 %}
        <div class="pricing-row text-align-right">
          <div class="pricing-title">
            {{ TEXT_total_due }}
          </div>
          <div class="pricing-details">
            {{ total_due | money }}
          </div>
        </div>
      {% endif %}
      <hr>
    </div>
  </div>

  <div class="footer">
    <p>
      {{ TEXT_thanks }}
    </p>
    <p>
      <strong>
        {% if shop_name_text != blank %}
          {{ shop_name_text }}
        {% else %}
          {{ shop.name }}
        {% endif %}
      </strong>
      <br>
      {% if shop_address_text != blank %}
        {{ shop_address_text }}
      {% else %}
        {% if shop.address1 != blank %}{{ shop.address1 }},{% endif -%}
        {%- if shop.address2 != blank %} {{ shop.address2 }},{% endif -%}
        {%- if shop.city != blank %} {{ shop.city }},{% endif -%}
        {%- if shop.province_code != blank %} {{ shop.province_code }},{% endif -%}
        {%- if shop.zip != blank %} {{ shop.zip }},{% endif %}
        {{ shop.country }}
      {% endif %}
      {% if shop_tax_number_text != blank %}
        <br>
        {{ shop_tax_number_text }}
      {% endif %}

      <br>
      <a href="mailto:{{ shop.customer_email }}" target="_blank">{{ shop.customer_email }}</a>
      <br>
      <a href="https://{{ shop.domain }}" target="_blank">{{ shop.domain }}</a>
    </p>
  </div>
</div> {% endcomment %}

<div class="template">
  <main>
    <header class="area-container">
      <div class="logo">
        <img src="{{ shop_logo_url }}">
      </div>
      <div>
        <p class="payement">
          <strong>
            {{ TEXT_receipt_tax_invoice }}
          </strong>
          <br>
          <span>
            {{ TEXT_payment_method }} {{ payment_method }}
            <br>
            {{ created_at | date: SETTING_date_format }}
          </span>
        </p>
        <p class="customer">
          <span>

            {% assign billing_address = billing_address | default: customer.default_address %}
            {% if billing_address != blank %}
              {{ billing_address.name }}
              {% if billing_address.company != blank %}
                <br>
                {{ billing_address.company }}
              {% endif %}
              <br>
              {{ billing_address.address1 }}
              {% if billing_address.address2 != blank %}
                <br>
                {{ billing_address.address2 }}
              {% endif %}
              {% if billing_address.city_province_zip != blank %}
                <br>
                {{ billing_address.city_province_zip }}
              {% endif %}
              <br>
              {{ billing_address.country }}
            {% else %}
              {{ TEXT_no_customer_information }}
            {% endif %}

          </span>
        </p>
      </div>
    </header>
    <section class="area-container"></section>
    <footer class="area-container">
      <p class="address">
        <strong>
          {{ shop.name }}
        </strong>
        <br>
        <span>
          {{ shop_address_text }}
        </span>
      </p>
    </footer>
  </main>
</div>

<style>

  .template * {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    box-sizing: border-box;
  }

  .template {
    position: absolute;
    inset: 0;
    margin: 40px 40px 20px 80px;
  }

  .template .area-container {
    border: 1px solid #e1e1e1;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header > div {
    border: 1px solid #e1e1e1;
  }

  header .logo img {
    width: {{ shop_logo_width }}px;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header .information p {
    border: 1px solid red;
  }



  footer {
  }

</style>
